/***************/
/* page layout */
/***************/

[id=menu] {
	position:fixed;
	width:25ex;
}
[id=content] {
	/* *****  EDIT THIS VALUE IF CONTENT OVERLAPS MENU ***** */
	position:absolute;
  left:29ex;
	padding-right:4ex;
}

/**************/
/* menu style */
/**************/

#menu .submenu {
	padding-top:1em;
	display:block;
}

#menu label {
	display:block;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #2d58b7;
}
#menu a {
	padding:0 .2em;
	display:block;
	text-align: center;
	background-color: #EBF0FA;
}
#menu a:visited {
	color:rgb(100,50,100);
}